/home/jana/Documents/GitHub/BA_Sokol_09971444/WRF/GEOG/
/home/jana/Documents/GitHub/BA_Sokol_09971444/WRF/libs/grib2/
/home/jana/Documents/GitHub/BA_Sokol_09971444/WRF/libs/mpich/
/home/jana/Documents/GitHub/BA_Sokol_09971444/WRF/libs/netcdf/
/home/jana/Documents/GitHub/BA_Sokol_09971444/WRF/WPS/
/home/jana/Documents/GitHub/BA_Sokol_09971444/WRF/WRF/
