/home/jana/Documents/GitHub/BA_Sokol_09971444/WRF/GEOG/
/home/jana/Documents/GitHub/BA_Sokol_09971444/WRF/libs/
/home/jana/Documents/GitHub/BA_Sokol_09971444/WRF/WPS/
/home/jana/Documents/GitHub/BA_Sokol_09971444/WRF/WRF/
